
    .row{
    background-image:url("BG1.jpg");
    opacity: 0.8;
    background-position:left;
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    }
    
    .counter-container #head{
      font-size: 2rem;
      margin: 0;
      text-transform: uppercase;
    }
    
    .column {
      opacity: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /* padding:2rem; */
    height : 50%;
    
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .counter{
      font-size: 2.5rem;
      font-weight: bolder;
      padding: 1.5rem;
      margin:0px;
    }
    @media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
    }
    .plus{
      font-weight: 900;
    }