
.wrapper-box-calendar{
  background: transparent;
  border-radius: 43px;
}
.wrapper-box-calendar .calendar{
  background-color: transparent;
}
.wrapper-box-calendar header{
  padding: 0.2rem 20px;
  border-radius: 43px;
  background-color: #bababa;
}
/* header .icons{
  display: flex;
  justify-self: center;
  align-items: center;
} */
header .icons h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 1px;
  cursor: pointer;
  color: #660000;
  text-align: center;
  /* line-height: 38px; */
  font-size: 2rem;
  user-select: none;
  border-radius: 50%;
}

header .icons h1:hover{
  background: #fff4f4;
}
header .current-date{
  font-size: 1.1srem;
  font-weight: 500;
}
.calendar{
  padding: 1rem 0;
}
.calendar ul{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 0.6rem;
  grid-column-gap: 1.8rem;
  list-style: none;
  text-align: center;
  padding-left: 5px;
}
.calendar ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .days li{
 font-size: 0.8rem;
}
.calendar li{
  color: black;
  font-size: 1.07rem;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
  position: relative;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 17px;
}
.weeks li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  /* border: 1px solid #bababa; */
  background-color: #fff4f4;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.inactive{
  color: black;
}
.days li.inactive::before{
  border: none;
  background-color: #ebe9e9;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border: 1px solid #ebe9e9;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  border: none;
  background: #800000;
}
.days li:not(.active):hover::before{
  background: rgb(198, 198, 198);
}

.date{
  border-end-start-radius: 10px;
    width:50px;
    text-align: center;
    box-shadow: 0px 5px 10px rgb(165, 164, 164);
}
.events{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    max-height:650px;
    overflow: auto;
}
.event{
    border-radius: 43px;
    width:280px;
    height:fit-content;
    margin:0 3px;
    color:rgb(14, 59, 122);
    padding:10px 20px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #e3e5e7,#fafbfb);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.month{
  border-start-end-radius: 10px;
    background-color: #980202;
    color:white;
}
.date-num{
    height:40px;
}
.line{
    background-color: rgb(119, 116, 116);
    height:3px;
    width:10%;
}
.event-head{
    font-size: 1.2rem;
}
.event-info *{
    margin:10px 0;
}
.events::-webkit-scrollbar {
  display: none;
}
@media (max-width:450px){
  header .current-date{
    font-size: 1.45rem;
  }
  /* .caledndar-wrapper{
    flex-wrap: wrap;
  } */
  .event{
    width:145px;
  }
  .event-info{
    font-size:0.7rem;
  }
  .event-head{
    font-size:0.8rem;
  }
  .calendar-wrapper{
    flex-direction: column;
  }
  .events{
    justify-content: space-between;
  }

  .date{
    font-size:10px;
  }
  .date-num {
    height: 30px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 0.9rem;
  }
  ol,ul{
    padding-left: 0;
  }
  .wrapper-box-calendar header{
    padding:10px;
    padding-top:10px;
  }
}